version: "3.8"

# services:

#   mongo:
#     image: mongo
#     container_name: mongo
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo-data:/data/db

#   backend:
#     build: ./backend
#     container_name: backend
#     ports:
#       - "8080:8080"
#     environment:
#       - DB_HOST=mongo
#     depends_on:
#       - mongo

#   frontend:
#     build: ./frontend
#     container_name: frontend
#     ports:
#       - "80:80"
#     depends_on:
#       - backend

# volumes:
#   mongo-data:

services:

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
  build: ./backend
  container_name: backend
  ports:
    - "8080:8080"
  environment:
    - DB_HOST=mongo
  depends_on:
    - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: